<footer class="main-footer">
  <div class="copyright wrapper">

    <div style="width: 50%; float: left; text-align: left;">
    <a href="https://alfobre.com" target="_blank"><img src="{{ site.baseurl }}/assets/img/logo_alfobre.png" style="height:2em; auto;"></a>
    <br /><br />
    <p>A-GeoCat is a geospatial open data catalog developed and maintained by <a href="https://alfobre.com" class="" target="_blank">Alfobre</a>.</p>
    <p>Alfobre (portuguese for seedbed) is a collective devoted to the creation and development of projects, strategies and products in the Heritage field.</p>
    <p>{{site.time | date: '%Y'}} | <a href="http://alfobre.com" target="_blank">{{site.author}}</a></p>

    </div>

    <div class="about-body" style="width: 50%; float: left; text-align: right;">
      <ul class="contact-list" style="text-align: right;">
        {% if site.pinterest %}
        <li class="pinterest"><a href="https://pinterest.com/{{site.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      {% else %}
        <li class="pinterest"></li>
      {% endif %}

      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}" ><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"></li>
      {% endif %}

      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"></li>
      {% endif %}

      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"></li>
      {% endif %}      

      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}" title="Email"><i title="Email" class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"></li>
      {% endif %}

      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank" title="WWW"><i title="WWW" class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank" title="GitHub"><i title="GitHub" class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"></li>
      {% endif %}

      {% if site.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.facebook}}" target="_blank" title="Facebook"><i title="Facebook" class="fa fa-facebook"></i></a></li>
      {% else %}
        <li class="facebook"></li>
      {% endif %}

      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank" title="Instagram"><i title="Instagram" class="fa fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"></li>
      {% endif %}

      <li class="pinterest"><a title="Feed.xml" href="/feed.xml" class=""><i class="fa fa-rss" aria-hidden="true" title="Feed.xml"></i></a></li>
    </ul>
  </div>    

  </div>
</footer> <!-- End Footer -->
