*, html {scroll-behavior: smooth !important;}

.about-header{text-align: left !important;}

.page-footer{border-bottom: 0px solid #d9d9d9;border-top: 1px solid #d9d9d9;}

ul.tags {list-style-type: none; overflow: hidden;  margin-bottom: 3em !important; display: inline-block;}

ul.tags li {float: left; margin-right: 2em;}

ul.tags  li a {color: #0d6efd !important; text-decoration: none; text-transform: uppercase;}

.main-footer .copyright {text-align: center; font-size: 0.8em; color: rgba(0,0,0,.5) !important;}

a {color: #0d6efd;text-decoration: none;}

a:hover{text-decoration: underline; color: #0a58ca;}

.page-footer .page-tag a {text-decoration: none; color: #0d6efd;}

.blog-tags .tag-list span a {color: #0d6efd;}

.main-nav ul li a:hover {color: #0a58ca !important;}

.about-body .contact-list li a:hover
{
  color: #0a58ca;
}


.footer-text {width: 50%; float: left; text-align: left;}
.footer-links{width: 50%; float: left; text-align: right;}
.footer-year {width: 100%; float: left; text-align: left;}

@media only screen and (max-width: 768px) {
    .footer-text {width: 100%; float: left; text-align: left;}
    .footer-links{width: 100%; float: left; text-align: left;}
}
